<form [formGroup]="filterForm" class="filters-form">
  <div class="filters-group">
    <!-- Status Filter -->
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let option of statusOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Priority Filter -->
    <mat-form-field appearance="outline">
      <mat-label>Priorität</mat-label>
      <mat-select formControlName="priority">
        <mat-option
          *ngFor="let option of priorityOptions"
          [value]="option.value"
        >
          {{ option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Assignee Filter -->
    <mat-form-field appearance="outline">
      <mat-label>Assignee</mat-label>
      <mat-select formControlName="assigneeId">
        <mat-option
          *ngFor="let option of assigneeOptions"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Label Filter (Multi-Select) -->
    <mat-form-field appearance="outline">
      <mat-label>Labels</mat-label>
      <mat-select
        formControlName="labelIds"
        multiple
        [hideSingleSelectionIndicator]="true"
      >
        <mat-select-trigger>
          @if ((filterForm.get('labelIds')?.value || []).length === 0) { Alle
          Labels } @else { {{ (filterForm.get('labelIds')?.value || []).length
          }} ausgewählt }
        </mat-select-trigger>
        <mat-option *ngFor="let label of labels" [value]="label.id">
          <div class="label-filter-option">
            <span
              class="label-color-dot"
              [style.background-color]="label.color"
            ></span>
            <span class="label-text">{{ label.name }}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Reset Button unter Filtern -->
  <button
    mat-button
    type="button"
    (click)="resetFilters()"
    class="reset-button"
  >
    Filter zurücksetzen
  </button>
</form>
